fieldset {
  margin: auto;
  width: 50%;
  border: 0;
}

.login-title {
  font-family: 'Brandon Grotesque';
  color: #ff684e;
  text-align: center;
}

.label {
  font-family: 'Brandon Grotesque';
  font-size: 90%;
  font-weight: bold;
  padding-left: 10px;
}

.button {
  padding: 12px 24px;
  border-radius: 20px;
  border: 0;
  background-color: #ff684e;
  color: white;
  text-align: right;
  font-size: 100%;
  float: right;
}
.button:hover{
  background-color: #fc8b77;
  cursor: pointer;
}

.inputs {
  margin-top: 3px;
  margin-bottom: 15px;
}
select, input {
  font-family: 'AtlasGrotesk';
  border-radius: 8px;
  border-style: solid;
  border-color: lightgray;
  width: 100%;
  height: 43px;
}

input {
  padding-left: 8px;
}
