.custom-button {
  padding: 8px 25px;
  font-size: 20px;
}

.custom-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

table.striped thead > tr {
  background-color: black;
  color: white;
}
table.striped tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
