.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.light {
  background-color: #fef9f1;
}

.container.dark {
  background-color: #111111;
}
.bulb {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
}

.bulb:focus {
  outline: 1px;
}

.bulb.unclicked {
  background-color: #faea84;
  box-shadow: 0px 0px 80px 0px #faea84;
}

.bulb.clicked {
  background-color: #232425;
  box-shadow: none;
}
